general {
        output_format = "i3bar"
        colors = true
        # Colors from base16
        color_good = "#A1B56C"
        color_degraded = "#DC9656"
        color_bad = "#AB4642"
        interval = 5
}

order += "wireless wlan0"
order += "run_watch DHCP"
order += "disk /"
order += "cpu_usage"
order += "cpu_temperature 0"
order += "battery 0"
order += "tztime local"

wireless wlan0 {
        format_up = "WiFi: (%quality on %essid) %ip"
        format_down = "WiFi: disconnected"
}

run_watch DHCP {
        pidfile = "/var/run/dhclient*.pid"
        format_down = ""
}

disk "/" {
        format = "%avail free"
        prefix_type = custom
        low_threshold = 10
}

cpu_usage {
        format = "CPU: %usage"
}

cpu_temperature 0 {
        format = "CPU: %degrees °C"
}

battery 0 {
        format = "%status %percentage %remaining %emptytime"
        format_down = "No battery"
        status_chr = "⚇ CHR"
        status_bat = "⚡ BAT"
        status_full = "☻ FULL"
        path = "/sys/class/power_supply/BAT%d/uevent"
        low_threshold = 15
}

tztime local {
        format = "%Y-%m-%d %H:%M"
}
