general {
        output_format = "i3bar"
        colors = true
        # Colors from base16
        color_good = "#A1B56C"
        color_degraded = "#DC9656"
        color_bad = "#AB4642"
        interval = 5
}

order += "wireless wlp2s0"
order += "ethernet eth0"
order += "run_watch DHCP"
order += "ipv6"
order += "disk /"
order += "battery 0"
order += "cpu_usage"
order += "cpu_temperature 0"
order += "tztime local"

wireless wlp2s0 {
        format_up = "WiFi: (%quality at %essid) %ip"
        format_down = "WiFi: down"
}

ethernet eth0 {
        # if you use %speed, i3status requires the cap_net_admin capability
        format_up = "E: %ip (%speed)"
        format_down = ""
}

run_watch DHCP {
        pidfile = "/var/run/dhclient*.pid"
        format_down = ""
}

ipv6 {
        format_down = ""
}

disk "/" {
        format = "%free"
}

battery 0 {
        format = "%status %percentage %remaining %emptytime"
        format_down = "No battery"
        status_chr = "⚇ CHR"
        status_bat = "⚡ BAT"
        status_full = "☻ FULL"
        path = "/sys/class/power_supply/BAT%d/uevent"
        low_threshold = 10
}

cpu_usage {
        format = "CPU: %usage"
}

cpu_temperature 0 {
        format = "%degrees °C"
}

tztime local {
        format = "%Y-%m-%d %H:%M:%S"
}
