[user]
  name = Don Smith
  email = hi@dons.dev
  signingkey = BA0D331DDF479ACFF1A6518B8BCCC82A92C4F664
[credential]
  helper = cache
[push]
  default = matching
[core]
  excludesfile = ~/.gitignore_global
[alias]
  d = difftool
  m = mergetool
  iam = !git-iam
[diff]
  tool = vimdiff
[difftool "vimdiff"]
  path = nvim
[merge]
  tool = vimdiff
  conflicstyle = diff3
  prompt = false
[mergetool]
  keepBackup = false
[mergetool "vimdiff"]
  path = nvim
[clean]
  requireForce = false
[users]
  url = https://raw.githubusercontent.com/enspiral-dev-academy/students/master/auckland.json
[pull]
  rebase = true
